extends layouts/main

block content
    .form-container 
            form(action=routes.editVideo(Video.id), method="post")
                input(type="text", name="title", placeholder="Title", value=Video.title)
                textarea(name="description", placeholder="Description")=Video.description
                input(type="submit", value="Update Video")
            a.form-contatiner__link(href=routes.deleteVideo(Video.id))
                button.delete Delete Video