mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id)) 
            video.videoBlock__thumbnail(src=video.videoFile, controls)
            h4.videoBlock__title= video.title
            if video.views === 1
                h6.videoBLock__views 1 view
            else
                h6.videoBLock__views #{video.views} views