doctype html
html
    head
        title #{pageTitle} | Weutbe
        link(rel="stylesheet", href="/static/styles.css")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
    body
        include ../partials/header
        main 
            block content
        include ../partials/footer
        script(src="/static/main.js")